<div id="menu">
	<ul>
		<li><%= link_to "My Profile", @user %></li>
		<li><%= link_to "Edit My Profile", edit_path %></li>
		<li><%= link_to "My Friends", '#' %></li>
		<li><%= link_to "My Photos", '#' %></li>
		<li><%= link_to "My Videos", '#' %></li>
		<li><%= link_to "My Music", '#' %></li>
		<li><%= link_to "My Messages", '#' %></li>
		<li><%= link_to "My Communities", '#' %></li>
		<li><%= link_to "My News", '#' %></li>
		<li><%= link_to "My Feedback", '#' %></li>
		<li><%= link_to "My Bookmarks", '#' %></li>
		<li><%= link_to "My Settings", settings_path %></li>
		<hr/>
		<li><%= link_to "Documents", '#' %></li>
	</ul>
</div>
