<% provide(:title, "Edit my profile") %>

<% content_for :sidebar do %>
  <%= render 'users/menu' %>
<% end %>

<% content_for :header do %>
  <h1>Edit my profile</h1>
<% end %>

<div id="edit">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :sex %>
    <%= f.select :sex, SEX %>
    <%= f.label :relationship %>
    <%= f.select :relationship, RELATIONSHIP %>
    <%= f.label :birthday %>
    <%= f.date_select :birthday, order: [:month, :day, :year] %>
    <%= f.label :hometown %>
    <%= f.text_field :hometown %>
    <%= f.label :languages %>
    <%= f.text_field :languages, value: @user.languages.map(&:name).join(", ") %>

    <%= f.submit "Update profile", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
