<% provide(:title, "My settings") %>

<% content_for :sidebar do %>
  <%= render 'users/menu' %>
<% end %>

<% content_for :header do %>
  <h1>My settings</h1>
<% end %>

<div id="settings">
  <div id="change_password" class="group">
    <h2>Change password</h2>
    <hr>
    <%= form_for @user, html: { id: "password_form", class: "group" } do |f| %>
      <%= f.label :password, "Current password:" %>
      <%= f.password_field :password %>
      <%= f.label :new_pass, "New password:" %>
      <%= f.password_field :new_pass %>
      <%= f.label :pass_conf, "Repeat new password:" %>
      <%= f.password_field :pass_conf %>
      <%= f.submit "Change password", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div id="change_email" class="group">
    <h2>Change email address</h2>
    <hr>
    <%= form_for @user, html: { id: "email_form", class: "group" } do |f| %>
      <%= f.label :email, "My email:" %>
      <%= f.text_field :email %>
      <%= f.submit "Change email", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>