<% provide(:title, "My settings") %>

<% content_for :sidebar do %>
  <%= render 'users/menu' %>
<% end %>

<% content_for :header do %>
  <h1>My settings</h1>
<% end %>

<div id="settings">
  <div id="change_password" class="group">
    <h2>Change password</h2>
    <hr>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :password, "Current password:" %>
      <%= f.password_field :password %>
      <br>

      <%= f.label :new_password, "New password:" %>
      <%= f.password_field :new_password %>
      <br>

      <%= f.label :new_password_confirmation, "Repeat new password:" %>
      <%= f.password_field :new_password_confirmation %>

      <%= f.submit "Change password", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div id="change_email" class="group">
    <h2>Change email address</h2>
    <hr>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email, "My email:" %>
      <%= f.text_field :email %>
      <br>

      <%= f.submit "Save email", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>