<% provide(:title, @user.full_name) %>

<% content_for :sidebar do %>
	<%= render 'menu' %>
<% end %>

<% content_for :header do %>
	<h1><%= @user.full_name %></h1>
<% end %>


	<div id="profile">

			<div id="profile_narrow">
				<%= image_tag 'avatars/1.jpg' %>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamz
			</div>


			<div id="profile_wide">
				<div id="profile_info">
					<div class="page_name"><%= @user.full_name %></div>
					<div id="status"><%= @user.status %></div>
					<hr/>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
	</div>
