<footer>
	<ul>
		<li><%= link_to("about", about_path) %></li>
		<li><%= link_to("terms", terms_path) %></li>
		<li><%= link_to("people", people_path) %></li>
		<li><%= link_to("communities", communities_path) %></li>
		<li><%= link_to("developers", developers_path) %></li>
	</ul>
</footer>